$hd: 1rem;
$dividerColor: #e8e8e8;
$secondaryText: #999999;
$unselectedTintColor: #999999;
$defaultIconTintColor: #000;
$dangerColor: #eb4f38;
$blueColor: #2681b0;
$darkBlueColor: #1d7bac;
$footerHeight: 0.45 * $hd;
$tabBarHeight: 0.5 * $hd;
$headerHeight: 0.45 * $hd;
